aiohttp==3.7.4.post0
asyncpg==0.23.0
black==22.3.0
discord.py @ git+https://github.com/Rapptz/discord.py@3e70a4e7980bdb5d06c5cbf312d2949aadfbe9d1
isort==5.9.3
jishaku @ git+https://github.com/Gorialis/jishaku@27284df50b19acdf729feac8162dd3cf104133b4
psutil==5.8.0
uvloop==0.15.3
feedparser==6.0.8
python-dateutil==2.8.2
